body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #63fff7;
    margin: 20;
    padding: 50;
}

.container {
    margin: 100px auto;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

.options label {
    display: block;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.joke {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}
